@model MemberViewModel

<main id="hero">
    <div class="hero-top">
        <h2>@ViewBag.Title</h2>
        <button class="btn btn--add" onclick="showAddMemberModal()">+ Add Member</button>
    </div>

    <div class="members-main">
        @foreach (var member in Model.Members)
        {
            <partial name="MemberPartials/_MemberCard" model="member" />
        }

        <div class="overlay add-member" id="add-member-modal" style="display: none;">
            <partial name="MemberPartials/_MemberCreation" model ="Model.MemberCreationViewModel" />
        </div>

        <div class="overlay edit-member" id="edit-member-modal" style="display: none;">
            <partial name="MemberPartials/_MemberUpdate" model="Model.MemberUpdateDto" />
        </div>

        <div class="overlay delete-member" id="delete-member-modal" style="display: none;">
            <partial name="MemberPartials/_MemberDelete" model="Model.MemberDto" />
        </div>
    </div>

</main>