@model ProjectViewModel

<main id="hero">
    <div class="hero-top">
        <h2>@ViewBag.Title</h2>
        <button class="btn btn--add" onclick="showAddProjectModal()">+ Add Project</button>
    </div>

    <div class="project-selection">
        <p class="active">ALL [@ViewBag.ProjectCount]</p>
        <p>STARTED [@ViewBag.ProjectInProgress]</p>
        <p>COMPLETED [@ViewBag.ProjectComplete]</p>
    </div>

    <div class="project-main">
        @foreach (var project in Model.Projects)
        {
            <partial name="ProjectPartials/_ProjectCard" model="project" />
        }
    </div>

    <div class="overlay add-project" id="add-project-modal" style="display: none;">
        <partial name="ProjectPartials/_ProjectCreation" model="Model.ProjectDto" />
    </div>

    <div class="overlay edit-project" id="edit-project-modal" style="display: none;">
        <partial name="ProjectPartials/_ProjectUpdate" model="Model.ProjectUpdateDto" />
    </div>
</main>