@model FileUploadViewModel

<div class="update-image-container">
    <div class="update-image">
        <div id="circle-container" class="circle circle-gray">
            <i class="fa-duotone fa-solid fa-pencil"></i>
        </div>
    </div>

    <div class="image-preview-container">
        <img id="image-preview" src="#" alt="Image Preview" />
    </div>
</div>

<input asp-for="File" id="file" accept="image/*" name="FileUploadViewModel.File" class="form-control" />
<span asp-validation-for="File"></span>
