<div class="header-left">
    <i class="fa-duotone fa-solid fa-magnifying-glass"></i>
    <input class="search" type="text" placeholder="Search anything...">
</div>

<div class="header-right">
    <div class="notification-icon">
        <i class="fa-duotone fa-solid fa-bell"></i>
        <span class="notification-indicator"></span>
    </div>
    <i class="fa-duotone fa-solid fa-gear"></i>

    <div class="notification-container">
        <div class="notification-container-top">
            <h4>Notifications</h4>
            <p>1</p>
        </div>

        <div class="notification-container-bottom">
            <div class="notification">
                <img class="project-img" alt="project image" src="Images/Avatar2.svg">
                <div class="notification-info">
                    <p class="notification-title">Harry Holmes updated</p>
                    <p class="notification-time">1 min ago</p>
                </div>

                <button class="btn-close"><i class="fa-solid fa-times close"></i></button>
            </div>

            <div class="notification">
                <img class="project-img" alt="project image" src="Images/Avatar5.svg">
                <div class="notification-info">
                    <p class="notification-title">Connor Bullen added</p>
                    <p class="notification-time">3 min ago</p>
                </div>
                <button class="btn-close"><i class="fa-solid fa-times close"></i></button>
            </div>
        </div>
    </div>
</div>

<img class="user-icon" src="Images/Avatar2.svg" />

<div class="user-container">
    <div class="user">
        <img class="member-icon" src="Images/Avatar2.svg" />
        <p>Harry Holmes</p>
    </div>

    <div class="dark-mode">
        <i class="fa-duotone fa-solid fa-moon"></i>
        <p>Dark Mode</p>
        <input type="checkbox" id="custom-checkbox" class="custom-checkbox">
        <label for="dark-mode" class="custom-slider"></label>
    </div>

    <div class="logout">
        <i class="fa-duotone fa-solid fa-sign-out"></i>
        <p>Logout</p>
    </div>
</div>
