@{
    var isAdmin = (await authorizationService.AuthorizeAsync(User, "Admin")).Succeeded;
}

<a class="logo" asp-action="Homepage" asp-controller="Home">
    <img src="Images/Logo.svg" alt="Logo">
    <p>alpha</p>
</a>

<nav class="menu">
    <ul>
        <li class="item-box">
            <a asp-action="Projects" asp-controller="Projects">
                <div class="list-item">
                    <i class="fa-duotone fa-solid fa-briefcase"></i>
                    <span class="sidebar-active">Projects</span>
                </div>
            </a>
        </li>

        @if (isAdmin)
        {
            <li class="item-box">
                <a asp-action="Members" asp-controller="Members">
                    <div class="list-item">
                        <i class="fa-duotone fa-solid fa-users"></i>
                        <span class="sidebar-active">Members</span>
                    </div>
                </a>
            </li>
        }
    </ul>
</nav>