<div class="logo">
    <img src="Images/Logo.svg" alt="Logo">
    <p>alpha</p>
</div>

<div class="menu">
    <ul>
        <li class="active item-box">
            <div class="list-item">
                <i class="fa-duotone fa-solid fa-briefcase"></i>
                <a class="sidebar-active" href="#">Projects</a>
            </div>
        </li>
    </ul>
</div>