@{
    Layout = "_NoLayout";
}

<div id="access-denied">
    <h1>ACCESS DENIED</h1>

    <h3>You are not authorized to access this page.</h3>

    <p>Contact your manager if you think you should have access to this page.</p>
    <p>click <a asp-controller="Auth" asp-action="SignOut">here</a> to be signed out and return to the home page.</p>
</div>