<section id="admin-signin">
    <section class="left-side">
        <div class="admin-signin-text">
            <div class="admin-signin-title">
                <h1>Welcome to</h1>
                <h1 class="orange">Admin Panel</h1>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti enim pariatur vel distinctio iste voluptate! Libero laborum unde, amet eum molestias blanditiis aliquid non asperiores.</p>
        </div>
        <img src="~/images/background.svg" alt="admin signin">
    </section>

    <section class="right-side">
        <partial name="AuthPartials/_SignInForm" />
    </section>
</section>