@model SignUpViewModel

<section id="signup">
    <div class="signup-container">
        <h1>Create Account</h1>

        <div class="google-signup">
            <img src="~/images/google-icon.svg" alt="google logo">
            <p>Sign Up with Google</p>
        </div>

        <p class="or">OR</p>

        <div class="form-signup">
            <form asp-action="SignUp" method="post">
                <div class="name-container">
                    <div class="first-name">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="Your first name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="last-name">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Your last name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="email-container">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="password-container">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Enter your password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="password-container">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm your password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="bottom-container">
                    <input type="checkbox" class="remember" id="remember" name="remember" />
                    <label for="remember" class="custom-checkbox">I accept the</label>
                    <a class="terms-and-conditions" href="#">Terms and Conditions</a>
                </div>

                <button type="submit" class="btn btn--signup">Create Account</button>
            </form>

            <div class="has-account">
                <p>Already have an account?</p>
                <a asp-action="Login">Log In</a>
            </div>
        </div>
    </div>
</section>